# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "maven"
    target-branch: "dev"     # 更新到 dev 分支
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ":arrow_up:"  # 提交信息前缀
